__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/

.env

.vscode/
.idea/

.DS_Store

.python-version
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.cache/

logs/
*.log


server-ca.pem
client-cert.pem
client-key.pem